---
const brandName = "Backyard Bores Pty Ltd. & Geotech Drilling Pty Ltd.";
const address = "no. 1, placeholder address, Australia";
const phone = "01234567890";
const email = "placeholder@email.com";
const links = ["About us", "Services", "Request a quote"];
---

<footer>
	<!-- <div class="footer_inner">
		<div class="flex justify-center items-center box-border h-24 w-24 border-2">
			LOGO
		</div>
		<p>CONTACT:</p>
		<p>{address}</p>
		<p>{phone}</p>
		<p>{email}</p>
		<div>
			<ul>
				{links.map((link) => <li>{link}</li>)}
			</ul>
		</div>
	</div> -->

	<div class="footer_base">
		<p>Copywright © 2024 {brandName}</p>
		<p class="footer_mini">Designed & Developed by Amie</p>
	</div>
</footer>

<style>
	.footer_base {
		display: flex;
		flex-direction: column;
		padding: 2rem 1rem;
		margin: 0rem;
		background-color: hsl(var(--dark-navy));
		border-top: 0.5px solid hsl(var(--off-white));
		color: hsl(var(--off-white));
		font-size: 0.8em;
		letter-spacing: 1px;
		font-weight: 400;
		text-transform: uppercase;
	}
	.footer_mini {
		padding-top: 1rem;
		font-size: 0.7em;
		text-transform: uppercase;
		font-weight: 200;
	}
</style>
